<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>swiftycompanion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4ADBA8A61EA651B4004854F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4ADBA8BA1EA651B4004854F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4ADBA8C51EA651B5004854F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
